body {
  background-color: rgb(6, 11, 26);
}

/* General Styling for the three title page sections */
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: grey;
  height: 10vh;
  text-align: center;
}

.body {
  background-color: lightslategray;
  height: 75vh;
}

.form-body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  border: 1px solid red;
}

/* User and game page styles */
/* User info and search bar */
.user-info {
  display: flex;
  border: 1px blue solid;
}

.user-info > div {
  border: 1px pink solid;
}
.search-box {
  border: 1px green solid;
}

#stats-search-form {
  width: 100%;
}

#stats-search-form > button {
  width: 100%;
}

/* Game content divs */
.user-game-content {
  border: 1px orange solid;
}

.user-game-charts {
  border: 1px yellow solid;
}
/* Form */
#entry-form {
  width: 66%;
  min-width: 240px;
}

#entry-form > button {
  float: right;
}

/* Global footer styling. Should remain the same for each page */
.footer {
  text-align: center;
  font-size: small;
  height: 15vh;
}

.footer p {
  color: whitesmoke;
  margin: 4pt;
}

.footer > .footer-legal,
.footer > .footer-authors {
  font-size: smaller;
}
.footer hr {
  background-color: whitesmoke;
  margin: 1vh 0px;
}

/* For the smallest of screens */
@media only screen and (max-width: 400px) {
  .header {
    height: 20vh;
  }
  .body {
    height: 60vh;
  }
  .footer {
    height: 20vh;
  }
}
