body {
  background-color: rgb(6, 11, 26);
}

/* General Styling for the three title page sections */
.header {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: grey;
  height: 10vh;
  text-align: center;
}

.body {
  background-color: lightslategray;
  height: 75vh;
}

.form-body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  border: 1px solid red;
}

/* User and game page styles */
/* User info and search bar */
.user-info {
  display: flex;
  margin: auto;
  position: relative;
}

.user-info > div {
}
.search-box {
  border: 1px green solid;
}

#stats-search-form {
  width: 100%;
}

#stats-search-form > button {
  width: 100%;
}

.blue-glow {
  color: aqua;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px aqua;
}
.blue-glow + input[type="text"] {
  background-color: black;
  color: aqua;
  text-shadow: none;
}
.blue-glow + input[type="text"]:focus {
  background-color: black;
  color: white;
  text-shadow: none;
}
.green-glow + input[type="text"] {
  background-color: black;
  color: greenyellow;
  text-shadow: none;
}
.green-glow + input[type="text"]:focus {
  background-color: black;
  color: white;
  text-shadow: none;
}

.green-glow {
  color: greenyellow;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px greenyellow;
}

.yellow-neon-border {
  border: 1px solid white;
  box-shadow: 0 0 10px yellow;
  background-color: black;
}
.red-border {
  border: 1px solid white;
  box-shadow: 0 0 7px red;
  border-radius: 5px;
}

.the-game {
  display: inline-block;
  position: relative;
}

.game-facts {
  visibility: hidden;
  position: absolute;
  color: white;
  background-color: black;
  z-index: 6;
  width: 100px;
}
.the-game:hover .game-facts {
  visibility: visible;
}

.profile-info {
  border-radius: 10px;
  color: white;
  z-index: 1;
}
.profile-text {
  margin: 10px;
  text-align: center;
}

#profile-display-name,
#profile-country,
#profile-status {
  font-size: 1.5em;
}
/* Game content divs */
.user-game-content {
  border: 1px orange solid;
}

.user-game-charts {
  border: 1px yellow solid;
}
/* Form */
#entry-form {
  width: 66%;
  min-width: 240px;
}

#entry-form > button {
  float: right;
}

/* Global footer styling. Should remain the same for each page */
.footer {
  text-align: center;
  font-size: small;
  height: 15vh;
  position: fixed;
  z-index: 4;
}

.footer p {
  color: whitesmoke;
  margin: 4pt;
}

.footer > .footer-legal,
.footer > .footer-authors {
  font-size: smaller;
}
.footer hr {
  background-color: whitesmoke;
  margin: 1vh 0px;
}

/* For the smallest of screens */
@media only screen and (max-width: 400px) {
  .header {
    height: 20vh;
  }
  .body {
    height: 60vh;
  }
  .footer {
    height: 20vh;
  }
}
